<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_maket.html">
<div layout:fragment = "site">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form th:action="@{'/saveItem'}" method="post">
                <input type="hidden" th:value="${item.id}" name="item_id">
                <div class="form-group mt-2">
                    <label th:text="#{label.name}">
                    </label>
                    <input type="text" class="form-control" name="item_name" th:value="${item!=null?item.name:''}">
                </div>
                <div class="form-group mt-2">
                <label th:text="#{label.price}">
                </label>
                <input type="number" class="form-control" name="item_price" th:value="${item.price}">
                </div>
                <div class="form-group mt-2">
                    <label th:text="#{label.amount}">
                    </label>
                    <input type="number" class="form-control" name="item_amount" th:value="${item.amount}">
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary">Save Item</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </button>
                </div>
            </form>
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/deleteItem'}" method="post">
                            <input type="hidden" th:value="${item.id}" name="item_id">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>