<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_maket.html">
<div layout:fragment="site">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form th:action="@{'/addItem'}" method="post">
                <div class="form-group mt-2">
                    <label th:text="#{label.name}">
                    </label>
                    <input type="text" class="form-control" name="item_name">
                </div>
                <div class="form-group mt-2">
                    <label th:text="#{label.price}">

                    </label>
                    <input type="number" class="form-control" name="item_price">
                </div>
                <div class="form-group mt-2">
                    <label th:text="#{label.amount}">
                    </label>
                    <input type="number" class="form-control" name="item_amount">
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary">Add Item</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>PRICE</td>
                    <td th:text="#{label.amount}"></td>
                    <td>DETAILS</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="it: ${items}">
                    <td th:text="${it.id}"></td>
                    <td th:text="${it.name}"></td>
                    <td th:text="${it.price}"></td>
                    <td th:text="${it.amount}"></td>
                    <td><a th:href="@{'details/' + ${it.id}}" class="btn btn-info btn-sm">DETAILS</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>